/* ====== NAVIGATION STYLES ====== */
:root {
    --nav-width: 10vw;
    --gallery-width: 85vw;
    --top-bottom-padding: 4vh;
    --left-padding: 3vw;

    --nav-bg-color: #505C45;
    --nav-footer-color: #384031;
    --top-nav-bg: linear-gradient(270deg, var(--nav-bg-color), #667558);

    --hover-color: wheat;

    font-family: 'Poppins', serif;
    font-size: calc(10px + 1vmin);
    color: white;

    overflow-x: hidden;
}

.visible #side-nav {
    visibility: visible;
}

#menu-icon {
    display: inline-block;
    cursor: pointer;
    padding: 1rem;

    z-index: 3;
}

#bar1, #bar2, #bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.transform #bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.transform #bar2 {
    opacity: 0;
}

.transform #bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#side-nav {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--nav-bg-color);

    transition: all 0.2s ease-in-out;
}

#side-nav a {
    color: inherit;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}

#side-nav a:hover {
    color: var(--hover-color);
    transition: color 0.2s ease-in-out;
}

#icon {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--nav-width);
    height: 30vh;
}

#icon img {
    max-width: 100px;
    position: relative;
    width: calc(100% - 3vw);
}

#nav-list {
    text-align: center;
    list-style-type: none;
    padding: 10vh 0;
    margin: 25vh 0;
}

.nav-item {
    padding: 0.75em 0;
}

#nav-footer {
    height: 10vh;
    width: inherit;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nav-footer-color);
}

#nav-footer img {
    height: 2vh;
    width: auto;
    padding: var(--top-bottom-padding) auto;
}

#nav-footer a:hover img {
    transform: scale(1.1);
    filter: brightness(120%);
}

#top-nav {
    z-index: 1;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--top-nav-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-nav a {
    color: inherit;
    padding: 0 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#top-nav a:hover {
    color: var(--hover-color);
    transition: all 0.2s ease-in-out;
}

#gallery-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5vw;
}

@font-face {
    font-family: 'Playfair Display';
    font-display: swap;
}

/* Mobile Nav Styles */
@media (max-width: 768px) {
    #top-nav {
        z-index: 2;
    }

    #side-nav {
        display: none;
        width: calc(var(--nav-width) * 3);
        transition: all 0.2s ease-in-out;
    }

    #icon {
        display: none;
    }

    .photo-grid {
        left: 0;

        width: 95vw;

        gap: 5px;
    }
}